<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="nav">

  <div class="school-name-logo">
    <a class="navbar-brand-two" href="#">
      <div class="navbar-brand">
        <p>test</p>
      </div>
    </a>
    <div class="school-name">
      <h4>Humboldt Schule</h4>
      <h4>Wiesbaden</h4>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="unordered-nav-list">
      <li class="nav-item">
        <a class="nav-link" id="one" href="#" style="color: white">Unsere Schule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="two" href="#" style="color: white">Aufnahmen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="three" href="#" style="color: white">Schulleben</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="four" href="#" style="color: white">Unterricht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="five" href="#" style="color: white">Chronik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="six" href="#" style="color: white">Intern</a>
      </li>
    </ul>
  </div>
</div>
