<div id="banner">
  <div class="explore">
    <p>Erfahren Sie mehr</p>
    <i class="fa fa-chevron-down"></i>
  </div>
</div>

<div class="introduction">
  <h1>Wilkommen zur Humboldtschule Wiesbaden</h1>
  <div class="introduction-div">
    <div class="director-image"></div>
    <div class="introduction-text">
      <div class="check-line">
        <i class="far fa-check-circle"></i>
        <p>Wir sind ein Privates Gymnasium, das Staatlich anerkannt ist</p>
      </div>
      <div class="check-line">
        <i class="far fa-check-circle"></i>
        <p>Wir sind eine Ganztagsschule mit individueller Förderung</p>
      </div>
      <div class="check-line">
        <i class="far fa-check-circle"></i>
        <p>Bei uns kommen Sie in acht Jahren erfolgreich zum Abitur </p>
      </div>
    </div>
  </div>
</div>


<a href="/" id="quotes-icon">
  Kiwi Corp
</a>

<div class="quote">
  <div class="quote-text">
    <h1>Eine positive Lernatmosphäre, in der Talente gefördert werden.</h1>
    <p>Hierfür steht die Humboldtschule, das Gymnasium in Wiesbaden, seit 1958.</p>
  </div>
</div>

<div class="cards">
  <div class="card-category" id="toptop-left">
    <h4>Unterstufe</h4>
  </div>

  <div class="card-category" id="toptop-middle">
    <h4>Oberstufe</h4>
  </div>

  <div class="card-category" id="toptop-right">
    <h4>Abitur</h4>
  </div>

  <div class="card-category" id="top-left">
    <h4>Individuelle Förderung</h4>
  </div>

  <div class="card-category" id="top-middle">
    <h4>Unser Erfolg</h4>
  </div>

  <div class="card-category" id="top-right">
    <h4>Unsere Mensa</h4>
  </div>
</div>

<div class="interviews">
  <h1>Lernen Sie unsere Schüler kennen</h1>
  <div class="interview-cards">
    <div class="card-category-two">
      <div class="image-card" id="left"></div>
      <p class="card-name">Emma - 5. Klasse</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus mollis urna eget egestas. Phasellus vel vehicula est. Duis auctor nunc in vulputate faucibus. </p>
    </div>

    <div class="card-category-two">
      <div class="image-card" id="middle"></div>
      <p class="card-name">Anton - 9. Klasse</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus mollis urna eget egestas. Phasellus vel vehicula est. Duis auctor nunc in vulputate faucibus. </p>
    </div>

    <div class="card-category-two">
      <div class="image-card" id="right"></div>
      <p class="card-name">Tobias - 12. Klasse</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus mollis urna eget egestas. Phasellus vel vehicula est. Duis auctor nunc in vulputate faucibus. </p>
    </div>
  </div>
</div>

<div class="zahlen">
  <div class="zahlen-text">
  <h1>Die Humboldt Schule in Zahlen</h1>
  <div class="stats">
    <div class="stat-one">
      <h1>98%</h1>
      <p>unserer Schüler bestehen ihr Abitur</p>
    </div>
    <div class="stat-one">
      <h1>1,9</h1>
      <p>ist unser Abiturdurchschnitt </p>
    </div>
    <div class="stat-one">
      <h1>5</h1>
      <p>Fremdsprachen kann man bei uns lernen</p>
    </div>
    <div class="stat-one">
      <h1>21</h1>
      <p>Schüler ist die durchschnittliche Klassengröße</p>
    </div>
  </div>
  </div>
</div>

<div class="ort">
  <h1>Das Örtliche</h1>
  <div class="video">
    <i class="fas fa-play"></i>
  </div>
</div>

