.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100vw;
  z-index: 7;
  height: 100px;
  padding: 0px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  transition: background 300ms linear;
}

#nav {
  background: transparent;
  transition: background 300ms linear;
}

.navbar-brand {
  background-image: asset-url('humboldtLogo.png');
  background-size: cover;
  width: 70px;
  height: 70px;
  p {
    visibility: hidden;
  }
}

.school-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4 {
    color: white;
  }
}

.school-name-logo {
  display: flex;
}
